<!-- <div class="col-md-4 search-bar">
    <div>
        <h2>Products</h2>
    </div>
    <div class="input-group rounded">
        <input 
            type="search" 
            class="form-control rounded" 
            placeholder="search products.." 
            aria-label="Search" 
            aria-describedby="search-addon"
            [(ngModel)]="searchTerm"
            (ngModelChange)="searchProduct()" />
        <span class="input-group-text" id="search-addon">
            <i class="fa fa-search"></i>
        </span>
    </div>
</div> -->
<app-feature-slider></app-feature-slider>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col p-3" *ngFor="let product of products">
        <div class="card text-center" (click)="showDetails(product.id)">
            <img src={{product.imageUrl}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.metadata.description}}</p>
                <b class="text-success">{{product.price | currency:"INR":"symbol"}}</b>
            </div>
        </div>
    </div>
</div>