<div class="card">
    <div class="card-body">
        <div class="container-lg">
            <div class="row">
                <div class="col-5">
                    <img src={{product?.imageUrl}} alt={{product?.name}} width="100%">
                </div>
                <div class="col-5 product-detail">
                    <h1>{{product?.name}}</h1>
                    <h3>{{product?.metadata?.description}}</h3>
                    <h5 class="text-success">{{product?.price | currency:"INR":"symbol"}}</h5>
                    <hr>
                    <h4>Specification <i class="fa fa-indent"></i></h4>
                        <p>{{product?.metadata?.specifications}}</p>
                    <h5>Contact here for buy</h5>
                    <hr>
                        <p>Mobile number: 9723325344</p>
                        <p>Address: 10, soham row house, Ahemdabad</p>
                </div>
            </div>
        </div>
    </div>
</div>