* {
    font-family: 'Roboto';
}

.navbar {
    background-color: #232328;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.footer-basic {
    background-color: #232328;
    color: white;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}