* {
    font-family: 'Roboto';
    position: relative;
}

.navbar {
}

.navbar-brand {
    color: #323234;
    font-size: xx-large;
}

.nav-link {
    color: #323234;
    font-size: large;
}

.contant {
    min-height: calc(100vh - 56px - 150px);
}